body {
    background-image: url('https://wallpapers.com/images/featured-full/premier-league-86d2ur0b5ryesbe7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: transparent;
    color: white; /* Set text color to white */
}

h1, label {
    color: white; /* Set text color to white for h1 and label elements */
}

#result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: yellow;
}
